<html>
    <head>
    </head>
    <h1><a href='/'>Wikistack!!!</a></h1>
    <body>

    <form method='POST' action='/'>
        <div>
            <label name="author">Author</label>
            <input name="author" />
        </div>
        <div>
            <label name="title">Title</label>
            <input name="title" />
        </div>
        <div>
            <label name="content">Story</label>
            <input name="content" />
        </div>
        <button type="submit">Save</button>

    </form>
        {% for story in stories %}
            <li>
                <a href="/{{story.author.name}}">{{ story.author.name }}</a>
                <a href="/{{story.author.name }}/{{ story.title }}">{{ story.title }}</a>
                {{ story.content }}
            </li>
        {% endfor%}
    </body>
</html>
